<div class="d-flex flex-wrap flex-stack mb-6">
  <h3 class="fw-bolder my-2">
    My Projects
    <span class="fs-6 text-gray-400 fw-bold ms-1">Active</span>
  </h3>

  <div class="d-flex flex-wrap my-2">
    <div class="me-4">
      <select
        class="form-select form-select-sm form-select-white w-125px"
        data-control="select2"
        data-hide-search="true"
        defaultValue="Active"
        name="status"
      >
        <option value="Active">Active</option>
        <option value="Approved">In Progress</option>
        <option value="Declined">To Do</option>
        <option value="In Progress">Completed</option>
      </select>
    </div>
    <a
      class="btn btn-primary btn-sm cursor-pointer"
      data-bs-target="#kt_modal_create_project"
      data-bs-toggle="modal"
    >
      New Project
    </a>
  </div>
</div>

<div class="row g-6 g-xl-9">
  <div class="col-md-6 col-xl-4">
    <app-card2
      [progress]="50"
      [users]="users1"
      badgeColor="primary"
      budget="$284,900.00"
      date="May 10, 2021"
      description="CRM App application to HR efficiency"
      icon="./assets/media/svg/brand-logos/plurk.svg"
      status="In Progress"
      statusColor="primary"
      title="Fitnes App"
    ></app-card2>
  </div>

  <div class="col-md-6 col-xl-4">
    <app-card2
      [progress]="30"
      [users]="users2"
      badgeColor="info"
      budget="$36,400.00"
      date="May 10, 2021"
      description="CRM App application to HR efficiency"
      icon="./assets/media/svg/brand-logos/disqus.svg"
      status="Pending"
      statusColor="info"
      title="Leaf CRM"
    ></app-card2>
  </div>

  <div class="col-md-6 col-xl-4">
    <app-card2
      [progress]="100"
      [users]="users3"
      badgeColor="success"
      budget="$605,100.00"
      date="Mar 14, 2021"
      description="CRM App application to HR efficiency"
      icon="./assets/media/svg/brand-logos/figma-1.svg"
      status="Completed"
      statusColor="success"
      title="Atica Banking"
    ></app-card2>
  </div>

  <div class="col-md-6 col-xl-4">
    <app-card2
      [progress]="60"
      [users]="users4"
      badgeColor="info"
      budget="$605,100.00"
      date="Mar 14, 2021"
      description="CRM App application to HR efficiency"
      icon="./assets/media/svg/brand-logos/sentry-3.svg"
      status="Pending"
      statusColor="info"
      title="Finance Dispatch"
    ></app-card2>
  </div>

  <div class="col-md-6 col-xl-4">
    <app-card2
      [progress]="40"
      [users]="users5"
      badgeColor="primary"
      budget="$605,100.00"
      date="Mar 14, 2021"
      description="CRM App application to HR efficiency"
      icon="./assets/media/svg/brand-logos/xing-icon.svg"
      status="In Progress"
      statusColor="primary"
      title="9 Degree"
    ></app-card2>
  </div>

  <div class="col-md-6 col-xl-4">
    <app-card2
      [progress]="70"
      [users]="users6"
      badgeColor="primary"
      budget="$605,100.00"
      date="Mar 14, 2021"
      description="CRM App application to HR efficiency"
      icon="./assets/media/svg/brand-logos/tvit.svg"
      status="In Progress"
      statusColor="primary"
      title="9 Degree"
    ></app-card2>
  </div>

  <div class="col-md-6 col-xl-4">
    <app-card2
      [progress]="70"
      [users]="users7"
      badgeColor="primary"
      budget="$605,100.00"
      date="Mar 14, 2021"
      description="CRM App application to HR efficiency"
      icon="./assets/media/svg/brand-logos/aven.svg"
      status="In Progress"
      statusColor="primary"
      title="Buldozer CRM"
    ></app-card2>
  </div>

  <div class="col-md-6 col-xl-4">
    <app-card2
      [progress]="10"
      [users]="users8"
      badgeColor="danger"
      budget="$605,100.00"
      date="Mar 14, 2021"
      description="CRM App application to HR efficiency"
      icon="./assets/media/svg/brand-logos/treva.svg"
      status="Overdue"
      statusColor="danger"
      title="Aviasales App"
    ></app-card2>
  </div>

  <div class="col-md-6 col-xl-4">
    <app-card2
      [progress]="100"
      [users]="users9"
      badgeColor="success"
      budget="$605,100.00"
      date="Mar 14, 2021"
      description="CRM App application to HR efficiency"
      icon="./assets/media/svg/brand-logos/kanba.svg"
      status="Completed"
      statusColor="success"
      title="Oppo CRM"
    ></app-card2>
  </div>
</div>

<app-custom-paginator
  (pageChange)="onPageChange($event)"
  [length]="4200"
  [pageSizeOptions]="[20, 50, 100]"
  [pageSize]="50"
></app-custom-paginator>
