<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    data-bs-target="#kt_account_signin_method"
    data-bs-toggle="collapse"
    role="button"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Sign-in Method</h3>
    </div>
  </div>
  <div class="collapse show" id="kt_account_signin_method">
    <div class="card-body border-top p-9">
      <ng-container *ngIf="!showChangeEmailForm">
        <div class="d-flex flex-wrap align-items-center">
          <div class="false" id="kt_signin_email">
            <div class="fs-6 fw-bolder mb-1">Email Address</div>
            <div class="fw-bold text-gray-600">support@keenthemes.com</div>
          </div>
          <div class="flex-row-fluid d-none" id="kt_signin_email_edit">
            <form class="form" id="kt_signin_change_email" novalidate="">
              <div class="row mb-6">
                <div class="col-lg-6 mb-4 mb-lg-0">
                  <div class="fv-row mb-0">
                    <label
                      class="form-label fs-6 fw-bolder mb-3"
                      for="emailaddress"
                    >Enter New Email Address</label
                    ><input
                    class="form-control form-control-lg form-control-solid"
                    id="emailaddress"
                    name="newEmail"
                    placeholder="Email Address"
                    type="email"
                    value="support@keenthemes.com"
                  />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="fv-row mb-0">
                    <label
                      class="form-label fs-6 fw-bolder mb-3"
                      for="confirmemailpassword"
                    >Confirmar contraseña</label
                    ><input
                    class="form-control form-control-lg form-control-solid"
                    id="confirmemailpassword"
                    name="confirmPassword"
                    type="password"
                    value=""
                  />
                    <div class="fv-plugins-message-container">
                      <div class="fv-help-block">Password is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <button
                  class="btn btn-primary me-2 px-6"
                  id="kt_signin_submit"
                  type="submit"
                >
                  Update Email
                </button
                >
                <button
                  class="btn btn-color-gray-400 btn-active-light-primary px-6"
                  id="kt_signin_cancel"
                  type="button"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
          <div class="ms-auto false" id="kt_signin_email_button">
            <button
              (click)="toggleEmailForm(true)"
              class="btn btn-light btn-active-light-primary"
            >
              Change Email
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showChangeEmailForm">
        <div class="d-flex flex-wrap align-items-center">
          <div class="d-none" id="kt_signin_email">
            <div class="fs-6 fw-bolder mb-1">Email Address</div>
            <div class="fw-bold text-gray-600">support@keenthemes.com</div>
          </div>
          <div class="flex-row-fluid false" id="kt_signin_email_edit">
            <form class="form" id="kt_signin_change_email" novalidate="">
              <div class="row mb-6">
                <div class="col-lg-6 mb-4 mb-lg-0">
                  <div class="fv-row mb-0">
                    <label
                      class="form-label fs-6 fw-bolder mb-3"
                      for="emailaddress"
                    >Enter New Email Address</label
                    ><input
                    class="form-control form-control-lg form-control-solid"
                    id="emailaddress"
                    name="newEmail"
                    placeholder="Email Address"
                    type="email"
                    value="support@keenthemes.com"
                  />
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <button
                  (click)="saveEmail()"
                  class="btn btn-primary me-2 px-6"
                  id="kt_signin_submit"
                  type="button"
                >
                  <ng-container *ngIf="!isLoading"> Update Email</ng-container>
                  <ng-container *ngIf="isLoading">
                    <span [style.display]="'block'" class="indicator-progress">
                      Por favor, espera...{{ " " }}
                      <span
                        class="
                          spinner-border spinner-border-sm
                          align-middle
                          ms-2
                        "
                      ></span>
                    </span>
                  </ng-container>
                </button
                >
                <button
                  (click)="toggleEmailForm(false)"
                  class="btn btn-color-gray-400 btn-active-light-primary px-6"
                  id="kt_signin_cancel"
                  type="button"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-container>

      <div class="separator separator-dashed my-6"></div>

      <ng-container *ngIf="!showChangePasswordForm">
        <div class="d-flex flex-wrap align-items-center mb-10">
          <div class="false" id="kt_signin_password">
            <div class="fs-6 fw-bolder mb-1">Contraseña</div>
            <div class="fw-bold text-gray-600">************</div>
          </div>
          <div class="ms-auto false" id="kt_signin_password_button">
            <button
              (click)="togglePasswordForm(true)"
              class="btn btn-light btn-active-light-primary"
            >
              Reset Password
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showChangePasswordForm">
        <div class="d-flex flex-wrap align-items-center mb-10">
          <div class="flex-row-fluid false" id="kt_signin_password_edit">
            <form class="form" id="kt_signin_change_password" novalidate="">
              <div class="row mb-1">
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label
                      class="form-label fs-6 fw-bolder mb-3"
                      for="currentpassword"
                    >Current Password</label
                    ><input
                    class="form-control form-control-lg form-control-solid"
                    id="currentpassword"
                    name="currentPassword"
                    type="password"
                    value="1234"
                  />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label
                      class="form-label fs-6 fw-bolder mb-3"
                      for="newpassword"
                    >New Password</label
                    ><input
                    class="form-control form-control-lg form-control-solid"
                    id="newpassword"
                    name="newPassword"
                    type="password"
                    value="1234"
                  />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label
                      class="form-label fs-6 fw-bolder mb-3"
                      for="confirmpassword"
                    >Confirm New Password</label
                    ><input
                    class="form-control form-control-lg form-control-solid"
                    id="confirmpassword"
                    name="passwordConfirmation"
                    type="password"
                    value="1234"
                  />
                  </div>
                </div>
              </div>
              <div class="form-text mb-5">
                Password must be at least 8 character and contain symbols
              </div>
              <div class="d-flex">
                <button
                  (click)="savePassword()"
                  class="btn btn-primary me-2 px-6"
                  id="kt_password_submit"
                  type="button"
                >
                  <ng-container *ngIf="!isLoading"
                  >Update Password
                  </ng-container
                  >
                  <ng-container *ngIf="isLoading">
                    <span [style.display]="'block'" class="indicator-progress">
                      Por favor, espera...{{ " " }}
                      <span
                        class="
                          spinner-border spinner-border-sm
                          align-middle
                          ms-2
                        "
                      ></span>
                    </span>
                  </ng-container>
                </button
                >
                <button
                  (click)="togglePasswordForm(false)"
                  class="btn btn-color-gray-400 btn-active-light-primary px-6"
                  id="kt_password_cancel"
                  type="button"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
          <div class="ms-auto d-none" id="kt_signin_password_button">
            <button class="btn btn-light btn-active-light-primary">
              Reset Password
            </button>
          </div>
        </div>
      </ng-container>

      <div
        class="
          notice
          d-flex
          bg-light-primary
          rounded
          border-primary border border-dashed
          p-6
        "
      >
        <app-keenicon class="fs-2 text-primary me-4" name="shield-tick"></app-keenicon>
        <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
          <div class="mb-3 mb-md-0 fw-bold">
            <h4 class="text-gray-800 fw-bolder">Secure Your Account</h4>
            <div class="fs-6 text-gray-600 pe-7">
              Two-factor authentication adds an extra layer of security to your
              account. To log in, in addition you'll need to provide a 6 digit
              code
            </div>
          </div>
          <a
            class="
              btn btn-primary
              px-6
              align-self-center
              text-nowrap
              cursor-pointer
            "
            data-bs-target="#kt_modal_two_factor_authentication"
            data-bs-toggle="modal"
          >Enable</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
