<div class="card mb-10">
  <div class="card-body d-flex align-items-center p-5 p-lg-8">
    <!-- begin::Icon -->
    <div
      class="d-flex h-50px w-50px h-lg-80px w-lg-80px flex-shrink-0 flex-center position-relative align-self-start align-self-lg-center mt-3 mt-lg-0">
      <svg class="text-primary h-75px w-75px h-lg-100px w-lg-100px position-absolute opacity-5" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M10.2,21.23,4.91,18.17a3.58,3.58,0,0,1-1.8-3.11V8.94a3.58,3.58,0,0,1,1.8-3.11L10.2,2.77a3.62,3.62,0,0,1,3.6,0l5.29,3.06a3.58,3.58,0,0,1,1.8,3.11v6.12a3.58,3.58,0,0,1-1.8,3.11L13.8,21.23A3.62,3.62,0,0,1,10.2,21.23Z"
              fill="currentColor"/>
      </svg>

      <app-keenicon class="fs-2x fs-lg-3x text-primary position-absolute" name="wrench"></app-keenicon>
    </div>
    <!-- end::Icon  -->

    <!-- begin::Description  -->
    <div class="ms-6">
      <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0">
        The layout builder is to assist your set and configure your preferred
        project layout specifications and preview it in real-time and export the
        HTML template with its includable partials of this demo. The downloaded
        version does not include the assets folder since the layout builder's
        main purpose is to help to generate the final HTML code without hassle.
        Layout builder changes don't affect pages with layout wrappers.
      </p>
    </div>
    <!-- end::Description  -->
  </div>
</div>

<div class="card card-custom">
  <!-- begin::Header -->
  <div class="card-header card-header-stretch overflow-auto">
    <ul class="
        nav nav-stretch nav-line-tabs
        fw-bold
        border-transparent
        flex-nowrap
      " role="tablist">

      <li class="nav-item">
        <a (click)="setActiveTab('Sidebar')" [ngClass]="{ active: activeTab === 'Sidebar' }"
           class="nav-link cursor-pointer" role="tab">
          Sidebar
        </a>
      </li>
      <li class="nav-item">
        <a (click)="setActiveTab('Header')" [ngClass]="{ active: activeTab === 'Header' }"
           class="nav-link cursor-pointer" role="tab">
          Header
        </a>
      </li>
      <li class="nav-item">
        <a (click)="setActiveTab('Toolbar')" [ngClass]="{ active: activeTab === 'Toolbar' }"
           class="nav-link cursor-pointer" role="tab">
          Toolbar
        </a>
      </li>
    </ul>
  </div>
  <!-- end::Header -->
  <!-- begin::Form -->
  <form #form="ngForm" (ngSubmit)="submitPreview()" class="form" novalidate>
    <!-- begin::Body -->
    <div class="card-body">
      <div class="tab-content pt-3">

        <!-- begin::Sidebar -->
        <div [ngClass]="{ active: activeTab === 'Sidebar' }" class="tab-pane">
          <div class="form-group d-flex flex-stack">
            <div class="d-flex flex-column">
              <h4 class="fw-bold text-dark">Fixed</h4>
              <div class="fs-7 fw-semibold text-muted">Fixed sidebar mode</div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="form-check form-check-custom form-check-solid form-check-success form-switch">


                <div class="
                    form-check form-check-custom form-check-solid form-switch
                    mb-2
                  ">
                  <input [(ngModel)]="model.app.sidebar.default.fixed.desktop" class="form-check-input" name="model.app.sidebar.default.fixed.desktop"
                         type="checkbox"/>
                </div>

              </div>
            </div>
          </div>
          <div class="separator separator-dashed my-6"></div>
          <div class="form-group d-flex flex-stack">
            <div class="d-flex flex-column">
              <h4 class="fw-bold text-dark">Minimize</h4>
              <div class="fs-7 fw-semibold text-muted">Sidebar minimize mode</div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="form-check form-check-custom form-check-solid form-check-success form-switch">

                <div class="
                form-check form-check-custom form-check-solid form-check-success form-switch
                  ">
                  <input [(ngModel)]="model.app.sidebar.default.minimize.desktop.enabled" class="form-check-input"
                         name="model.app.sidebar.default.minimize.desktop.enabled"
                         type="checkbox"/>
                  <label class="form-check-label text-gray-700 fw-bold"
                         data-bs-toggle="tooltip" data-kt-initialized="1"
                         for="kt_builder_sidebar_minimize_desktop_enabled">Minimize Toggle</label>
                </div>
                <div class="
                form-check form-check-custom form-check-solid form-check-success form-switch ms-10
                  ">
                  <input [(ngModel)]="model.app.sidebar.default.minimize.desktop.hoverable" class="form-check-input"
                         name="model.app.sidebar.default.minimize.desktop.hoverable"
                         type="checkbox"/>
                  <label class="form-check-label text-gray-700 fw-bold"
                         data-bs-toggle="tooltip" data-kt-initialized="1"
                         for="kt_builder_sidebar_minimize_desktop_hoverable">Hoverable</label>
                </div>
                <div class="
                form-check form-check-custom form-check-solid form-check-success form-switch ms-10
                  ">
                  <input [(ngModel)]="model.app.sidebar.default.minimize.desktop.default" class="form-check-input"
                         name="model.app.sidebar.default.minimize.desktop.default"
                         type="checkbox"/>
                  <label class="form-check-label text-gray-700 fw-bold"
                         data-bs-toggle="tooltip" data-kt-initialized="1"
                         for="kt_builder_sidebar_minimize_desktop_default">Default Minimized</label>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- end::Sidebar -->

        <!-- begin::Header -->
        <div [ngClass]="{ active: activeTab === 'Header' }" class="tab-pane">
          <div class="form-group d-flex flex-stack">
            <div class="d-flex flex-column">
              <h4 class="fw-bold text-dark">Fixed</h4>
              <div class="fs-7 fw-semibold text-muted">Fixed header mode</div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="form-check form-check-custom form-check-solid form-check-success form-switch">
                <div class="
                    form-check form-check-custom form-check-solid form-switch
                    mb-2
                  ">
                  <input [(ngModel)]="model.app.header.default.fixed.desktop" class="form-check-input" name="model.app.header.default.fixed.desktop"
                         type="checkbox"/>
                </div>

              </div>
            </div>
          </div>
          <div class="separator separator-dashed my-6"></div>

          <div class="form-group d-flex flex-stack">
            <div class="d-flex flex-column">
              <h4 class="fw-bold text-dark">Content</h4>
              <div class="fs-7 fw-semibold text-muted">Header content type</div>
            </div>
            <div class="d-flex justify-content-end">
              <!--begin::Check-->
              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">
                <input [(ngModel)]="model.app.header.default.content" checked="checked" class="form-check-input" id="kt_builder_header_content_menu"
                       name="model.app.header.default.content" type="radio"
                       value="menu" value="menu">
                <!--begin::Label-->
                <label class="form-check-label text-gray-700 fw-bold text-nowrap"
                       for="kt_builder_header_content_menu">Menu</label>
                <!--end::Label-->
              </div>
              <!--end::Check-->
              <!--begin::Check-->
              <div class="form-check form-check-custom form-check-success form-check-solid form-check-sm ms-10">
                <input [(ngModel)]="model.app.header.default.content" class="form-check-input" id="kt_builder_header_content_page-title"
                       name="model.app.header.default.content"
                       name="layout-builder[layout][app][header][default][content]"
                       type="radio" value="page-title"
                       value="page-title">
                <!--begin::Label-->
                <label class="form-check-label text-gray-700 fw-bold text-nowrap"
                       for="kt_builder_header_content_page-title">Page Title</label>
                <!--end::Label-->
              </div>
              <!--end::Check-->
            </div>
          </div>
        </div>
        <!-- end::Header -->

        <!-- begin::Toolbar -->
        <div [ngClass]="{ active: activeTab === 'Toolbar' }" class="tab-pane">
          <div class="form-group d-flex flex-stack">
            <div class="d-flex flex-column">
              <h4 class="fw-bold text-dark">Fixed</h4>
              <div class="fs-7 fw-semibold text-muted">Fixed toolbar mode</div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="d-flex justify-content-end">
                <!--begin::Check-->
                <div class="form-check form-check-custom form-check-solid form-check-success form-switch me-10">
                  <input [(ngModel)]="model.app.toolbar.fixed.desktop" class="form-check-input w-45px h-30px"
                         id="kt_builder_toolbar_fixed_desktop"
                         name="model.app.toolbar.fixed.desktop"
                         name="layout-builder[layout][app][toolbar][fixed][desktop]" type="checkbox">
                  <!--begin::Label-->
                  <label class="form-check-label text-gray-700 fw-bold" for="kt_builder_toolbar_fixed_desktop">Desktop
                    Mode</label>
                  <!--end::Label-->
                </div>
                <!--end::Check-->
                <!--begin::Check-->
                <div class="form-check form-check-custom form-check-solid form-check-success form-switch">
                  <input [(ngModel)]="model.app.toolbar.fixed.mobile" class="form-check-input w-45px h-30px" id="kt_builder_toolbar_fixed_mobile"
                         name="model.app.toolbar.fixed.mobile" type="checkbox">
                  <!--begin::Label-->
                  <label class="form-check-label text-gray-700 fw-bold" for="kt_builder_toolbar_fixed_mobile">Mobile
                    Mode</label>
                  <!--end::Label-->
                </div>
                <!--end::Check-->
              </div>
            </div>
          </div>
          <div class="separator separator-dashed my-6"></div>
          <div class="mb-6">
            <h4 class="fw-bold text-dark">Layout</h4>
            <div class="fw-semibold text-muted fs-7 d-block lh-1">Select a toolbar layout</div>
          </div>
          <div data-kt-buttons="true"
               data-kt-buttons-target=".form-check-image:not(.disabled),.form-check-input:not([disabled])"
               data-kt-initialized="1">
            <!--begin::Option-->
            <label [ngClass]="{'active': model.app.toolbar.layout === 'classic'}"
                   class="form-check-image form-check-success mb-10">
              <!--begin::Image-->
              <div class="form-check-wrapper">
                <img alt="" class="mw-100" src="./assets/media/misc/layout/toolbar-classic.png">
              </div>
              <!--end::Image-->
              <!--begin::Check-->
              <div class="form-check form-check-custom form-check-success form-check-sm form-check-solid">
                <input [(ngModel)]="model.app.toolbar.layout" checked="checked" class="form-check-input" name="model.app.toolbar.layout"
                       type="radio" value="classic">
                <!--begin::Label-->
                <div class="form-check-label text-gray-800">Classic</div>
                <!--end::Label-->
              </div>
              <!--end::Check-->
            </label>
            <!--end::Option-->
            <!--begin::Option-->
            <label [ngClass]="{'active': model.app.toolbar.layout === 'saas'}"
                   class="form-check-image form-check-success mb-10">
              <!--begin::Image-->
              <div class="form-check-wrapper">
                <img alt="" class="mw-100" src="./assets/media/misc/layout/toolbar-saas.png">
              </div>
              <!--end::Image-->
              <!--begin::Check-->
              <div class="form-check form-check-custom form-check-success form-check-sm form-check-solid">
                <input [(ngModel)]="model.app.toolbar.layout" class="form-check-input" name="model.app.toolbar.layout" type="radio"
                       value="saas">
                <!--begin::Label-->
                <div class="form-check-label text-gray-800">SaaS</div>
                <!--end::Label-->
              </div>
              <!--end::Check-->
            </label>
            <!--end::Option-->
            <!--begin::Option-->
            <label [ngClass]="{'active': model.app.toolbar.layout === 'accounting'}"
                   class="form-check-image form-check-success mb-10">
              <!--begin::Image-->
              <div class="form-check-wrapper">
                <img alt="" class="mw-100" src="./assets/media/misc/layout/toolbar-accounting.png">
              </div>
              <!--end::Image-->
              <!--begin::Check-->
              <div class="form-check form-check-custom form-check-success form-check-sm form-check-solid">
                <input [(ngModel)]="model.app.toolbar.layout" class="form-check-input" name="model.app.toolbar.layout" type="radio"
                       value="accounting">
                <!--begin::Label-->
                <div class="form-check-label text-gray-800">Accounting</div>
                <!--end::Label-->
              </div>
              <!--end::Check-->
            </label>
            <!--end::Option-->
            <!--begin::Option-->
            <label [ngClass]="{'active': model.app.toolbar.layout === 'extended'}"
                   class="form-check-image form-check-success mb-10">
              <!--begin::Image-->
              <div class="form-check-wrapper">
                <img alt="" class="mw-100" src="./assets/media/misc/layout/toolbar-extended.png">
              </div>
              <!--end::Image-->
              <!--begin::Check-->
              <div class="form-check form-check-custom form-check-success form-check-sm form-check-solid">
                <input [(ngModel)]="model.app.toolbar.layout" class="form-check-input" name="model.app.toolbar.layout" type="radio"
                       value="extended">
                <!--begin::Label-->
                <div class="form-check-label text-gray-800">Extended</div>
                <!--end::Label-->
              </div>
              <!--end::Check-->
            </label>
            <!--end::Option-->
            <!--begin::Option-->
            <label [ngClass]="{'active': model.app.toolbar.layout === 'reports'}"
                   class="form-check-image form-check-success mb-10">
              <!--begin::Image-->
              <div class="form-check-wrapper">
                <img alt="" class="mw-100" src="./assets/media/misc/layout/toolbar-reports.png">
              </div>
              <!--end::Image-->
              <!--begin::Check-->
              <div class="form-check form-check-custom form-check-success form-check-sm form-check-solid">
                <input [(ngModel)]="model.app.toolbar.layout" class="form-check-input" name="model.app.toolbar.layout" type="radio"
                       value="reports">
                <!--begin::Label-->
                <div class="form-check-label text-gray-800">Reports</div>
                <!--end::Label-->
              </div>
              <!--end::Check-->
            </label>
            <!--end::Option-->
          </div>
        </div>
        <!-- end::Toolbar -->
      </div>
    </div>
    <!-- end::Body -->

    <!-- begin::Footer -->
    <div class="card-footer py-6">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
          <button (click)="submitPreview()" [disabled]="configLoading || resetLoading" class="btn btn-primary me-2"
                  type="button">
            <ng-container *ngIf="!configLoading">
              <span class="indicator-label">Preview</span>
            </ng-container>

            <ng-container *ngIf="configLoading">
              <span [style.display]="'block'" class="indicator-progress">
                Por favor, espera...{{ " " }}
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </ng-container>
          </button>

          <button (click)="resetPreview()" [disabled]="configLoading || resetLoading" class="btn btn-active-light btn-color-muted"
                  id="kt_layout_builder_reset" type="button">
            <ng-container *ngIf="!resetLoading">
              <span class="indicator-label">Reset</span>
            </ng-container>

            <ng-container *ngIf="resetLoading">
              <span [style.display]="'block'" class="indicator-progress">
                Por favor, espera...{{ " " }}
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </ng-container>
          </button>
        </div>
      </div>
    </div>

    <!-- end::Footer -->
  </form>
  <!-- end::Form -->
</div>
