<div class="card-body p-0">
  <div class="d-flex flex-stack card-p flex-grow-1">
    <span
      [ngClass]="'symbol-light-' + color + ' me-2'"
      class="symbol symbol-50px"
    >
      <span class="symbol-label">
        <span
          [inlineSVG]="svgIcon"
          [ngClass]="'svg-icon-' + color"
          class="svg-icon fs-2x"
        ></span>
      </span>
    </span>

    <div class="d-flex flex-column text-end">
      <span class="text-dark fw-bolder fs-2">{{ change }}</span>

      <span class="text-muted fw-bold mt-1">{{ description }}</span>
    </div>
  </div>

  <div
    #chartRef
    [style.height]="'150px'"
    class="statistics-widget-3-chart card-rounded-bottom"
  >
    <apx-chart
      [chart]="chartOptions.chart"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [fill]="chartOptions.fill"
      [legend]="chartOptions.legend"
      [markers]="chartOptions.markers"
      [plotOptions]="chartOptions.plotOptions"
      [series]="chartOptions.series"
      [states]="chartOptions.states"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
    ></apx-chart>
  </div>
</div>
