<div class="d-flex flex-stack flex-wrap pt-10">
  <div class="fs-6 fw-bold text-gray-700">
    Visualizando del {{pageIndex * pageSize + 1}} al {{(pageIndex + 1) * pageSize}} de {{length}} resultados
  </div>

  <div class="d-flex align-items-center">
    <select (change)="changePageSize(pageSize)" [(ngModel)]="pageSize"
            class="form-select form-select-sm form-select-white w-125px">
      <option *ngFor="let size of pageSizeOptions" [ngValue]="size">{{size}}</option>
    </select>

    <ul class="pagination ms-3">
      <li [class.disabled]="pageIndex === 0" class="page-item previous">
        <a (click)="changePage(pageIndex - 1)" class="page-link cursor-pointer">
          <i class="previous"></i>
        </a>
      </li>

      <li *ngFor="let i of pageNumbers" class="page-item">
        <ng-container *ngIf="i !== -1; else ellipsis">
          <a (click)="changePage(i)" [class.active]="pageIndex === i" class="page-link cursor-pointer">{{i + 1}}</a>
        </ng-container>
        <ng-template #ellipsis>
          <span class="page-link">...</span>
        </ng-template>
      </li>

      <li [class.disabled]="pageIndex === calculateNumberOfPages() - 1" class="page-item next">
        <a (click)="changePage(pageIndex + 1)" class="page-link cursor-pointer">
          <i class="next"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
