<ng-template #modal>
  <div class="modal-content">
    <div class="modal-header">
      <!--begin::Modal title-->
      <h2>{{ modalConfig.modalTitle }}</h2>
      <!--end::Modal title-->
      <!--begin::Close-->
      <div (click)="dismiss()" *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
           class="btn btn-sm btn-icon btn-active-color-primary">
        <app-keenicon class="fs-1" name="cross"></app-keenicon>
        <!--end::Svg Icon-->
      </div>
      <!--end::Close-->
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button (click)="dismiss()" *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()" [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()"
              class="btn btn-outline-secondary"
              type="button">
        {{ modalConfig.dismissButtonLabel }}
      </button>
      <button (click)="close()" *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()" [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()"
              class="btn btn-outline-primary"
              type="button">
        {{ modalConfig.closeButtonLabel }}
      </button>
    </div>
  </div>
</ng-template>
