<div [ngClass]="cssClass" class="card card-custom">
  <!-- Header -->
  <div class="card-header border-0 pt-5">
    <div class="card-title">
      <div class="card-label">
        <div class="font-weight-bolder">Weekly Sales Stats</div>
        <div class="font-size-sm text-muted mt-2">890,344 Sales</div>
      </div>
    </div>
    <div class="card-toolbar">
      <div
        class="dropdown dropdown-inline"
        ngbDropdown
        placement="bottom-right"
        title="Quick actions"
      >
        <a class="btn btn-clean btn-sm btn-icon" ngbDropdownToggle>
          <i class="ki ki-bold-more-hor"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-md dropdown-menu-right"
          ngbDropdownMenu
        >
          <app-dropdown-menu3></app-dropdown-menu3>
        </div>
      </div>
    </div>
  </div>
  <!-- Body -->
  <div class="card-body d-flex flex-column px-0">
    <!--begin::Chart-->
    <div [style.height]="'height: 125px'" id="kt_tiles_widget_1_chart">
      <apx-chart
        [chart]="chartOptions.chart"
        [colors]="chartOptions.colors"
        [dataLabels]="chartOptions.dataLabels"
        [fill]="chartOptions.fill"
        [legend]="chartOptions.legend"
        [markers]="chartOptions.markers"
        [plotOptions]="chartOptions.plotOptions"
        [series]="chartOptions.series"
        [states]="chartOptions.states"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
      ></apx-chart>
    </div>
    <!--end::Chart-->
    <!--begin::Items-->
    <div class="flex-grow-1 card-spacer-xflex-grow-1 card-spacer-x">
      <!--begin::Item-->
      <div class="d-flex align-items-center justify-content-between mb-10">
        <div class="d-flex align-items-center mr-2">
          <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
            <div class="symbol-label">
              <span
                [inlineSVG]="'./assets/media/svg/brand-logos/plurk.svg'"
                class="svg-icon h-50"
              ></span>
            </div>
          </div>
          <div>
            <a
              class="
                font-size-h6
                text-dark-75 text-hover-primary
                font-weight-bolder
              "
              href="#"
            >Top Authors</a
            >
            <div class="font-size-sm text-muted font-weight-bold mt-1">
              Ricky Hunt, Sandra Trepp
            </div>
          </div>
        </div>
        <div
          class="
            label label-light label-inline
            font-weight-bold
            text-dark-50
            py-4
            px-3
            font-size-base
          "
        >
          +105$
        </div>
      </div>
      <!--end::Item-->
      <!--begin::Item-->
      <div class="d-flex align-items-center justify-content-between mb-10">
        <div class="d-flex align-items-center mr-2">
          <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
            <div class="symbol-label">
              <span
                [inlineSVG]="'./assets/media/svg/brand-logos/telegram.svg'"
                class="svg-icon h-50"
              ></span>
            </div>
          </div>
          <div>
            <a
              class="
                font-size-h6
                text-dark-75 text-hover-primary
                font-weight-bolder
              "
              href="#"
            >Bestsellers</a
            >
            <div class="font-size-sm text-muted font-weight-bold mt-1">
              Pitstop Email Marketing
            </div>
          </div>
        </div>
        <div
          class="
            label label-light label-inline
            font-weight-bold
            text-dark-50
            py-4
            px-3
            font-size-base
          "
        >
          +60$
        </div>
      </div>
      <!--end::Item-->
      <!--begin::Item-->
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center mr-2">
          <div class="symbol symbol-50 symbol-light mr-3 flex-shrink-0">
            <div class="symbol-label">
              <span
                [inlineSVG]="'./assets/media/svg/misc/puzzle.svg'"
                class="svg-icon h-50"
              ></span>
            </div>
          </div>
          <div>
            <a
              class="
                font-size-h6
                text-dark-75 text-hover-primary
                font-weight-bolder
              "
              href="#"
            >Top Engagement</a
            >
            <div class="font-size-sm text-muted font-weight-bold mt-1">
              KT.com solution provider
            </div>
          </div>
        </div>
        <div
          class="
            label label-light label-inline
            font-weight-bold
            text-dark-50
            py-4
            px-3
            font-size-base
          "
        >
          +75$
        </div>
      </div>
      <!--end::Item-->
    </div>
    <!--end::Stats-->
  </div>
</div>
