<div class="card-body my-3">
  <a
    [ngClass]="'text-' + color"
    class="card-title fw-bolder fs-5 mb-3 d-block"
    href="#"
  >
    {{ description }}
  </a>

  <div class="py-1">
    <span class="text-dark fs-1 fw-bolder me-2">{{ progress }}</span>

    <span class="fw-bold text-muted fs-7">{{ title }}</span>
  </div>

  <div [ngClass]="'bg-' + color" class="`progress h-7px bg-opacity-50 mt-7">
    <div
      [ngClass]="' bg-' + color"
      [style.width]="progress"
      class="progress-bar"
      role="progressbar"
    ></div>
  </div>
</div>
