<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder d-flex align-items-center text-dark">
    Choose Account Type
    <i
      class="fas fa-exclamation-circle ms-2 fs-7"
      ngbTooltip="Billing is issued based on your selected account type"
    ></i>
  </h2>

  <div class="text-gray-400 fw-bold fs-6">
    If you need more info, please check out
    <a class="link-primary fw-bolder" href="#"> Help Page </a>
    .
  </div>
</div>

<div [formGroup]="form" class="fv-row">
  <div class="row">
    <div class="col-lg-6">
      <input
        class="btn-check"
        formControlName="accountType"
        id="kt_create_account_form_account_type_personal"
        name="accountType"
        type="radio"
        value="personal"
      />
      <label
        class="
          btn btn-outline btn-outline-dashed btn-outline-default
          p-7
          d-flex
          align-items-center
          mb-10
        "
        for="kt_create_account_form_account_type_personal"
      >
        <app-keenicon class="fs-1 me-5" name="address-book"></app-keenicon>
        <span class="d-block fw-bold text-start">
          <span class="text-dark fw-bolder d-block fs-4 mb-2"
          >Personal Account</span
          >
          <span class="text-gray-400 fw-bold fs-6">
            If you need more info, please check it out
          </span>
        </span>
      </label>
    </div>

    <div class="col-lg-6">
      <input
        class="btn-check"
        formControlName="accountType"
        id="kt_create_account_form_account_type_corporate"
        name="accountType"
        type="radio"
        value="corporate"
      />
      <label
        class="
          btn btn-outline btn-outline-dashed btn-outline-default
          p-7
          d-flex
          align-items-center
        "
        for="kt_create_account_form_account_type_corporate"
      >
        <app-keenicon class="fs-1 me-5" name="briefcase"></app-keenicon>
        <span class="d-block fw-bold text-start">
          <span class="text-dark fw-bolder d-block fs-4 mb-2"
          >Corporate Account</span
          >
          <span class="text-gray-400 fw-bold fs-6">
            Create corporate account to mane users
          </span>
        </span>
      </label>
    </div>

    <div class="fv-plugins-message-container invalid-feedback">
      <!-- <ErrorMessage name='accountType' /> -->
    </div>
  </div>
</div>
