<div class="d-flex flex-wrap flex-stack mb-6">
  <h3 class="fw-bolder my-2">
    My Documents
    <span class="fs-6 text-gray-400 fw-bold ms-1">100+ resources</span>
  </h3>

  <div class="d-flex my-2">
    <div class="d-flex align-items-center position-relative me-4">
      <app-keenicon class="fs-3 position-absolute ms-3" name="magnifier"></app-keenicon>
      <input
        class="form-control form-control-white form-control-sm w-150px ps-9"
        id="kt_filter_search"
        placeholder="Search"
        type="text"
      />
    </div>

    <a class="btn btn-primary btn-sm cursor-pointer"> File Manager </a>
  </div>
</div>

<div class="row g-6 g-xl-9 mb-6 mb-xl-9">
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      description="7 files"
      icon="./assets/media/svg/files/folder-document.svg"
      title="Finance"
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      description="3 files"
      icon="./assets/media/svg/files/folder-document.svg"
      title="Customers"
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      description="25 files"
      icon="./assets/media/svg/files/folder-document.svg"
      title="CRM Project"
    ></app-card4>
  </div>
</div>

<div class="row g-6 g-xl-9 mb-6 mb-xl-9">
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      description="3 days ago"
      icon="./assets/media/svg/files/pdf.svg"
      title="Project Reqs.."
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      description="3 days ago"
      icon="./assets/media/svg/files/doc.svg"
      title="CRM App Docs.."
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      description="4 days ago"
      icon="./assets/media/svg/files/css.svg"
      title="User CRUD Styles"
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      description="5 days ago"
      icon="./assets/media/svg/files/ai.svg"
      title="Metronic Logo"
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      description="1 week ago"
      icon="./assets/media/svg/files/sql.svg"
      title="Orders backup"
    ></app-card4>
  </div>
</div>

<div class="row g-6 g-xl-9 mb-6 mb-xl-9">
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      description="2 week ago"
      icon="./assets/media/svg/files/xml.svg"
      title="UTAIR CRM API Co.."
    ></app-card4>
  </div>
  <div class="col-12 col-sm-12 col-xl">
    <app-card4
      description="3 week ago"
      icon="./assets/media/svg/files/tif.svg"
      title="Tower Hill App.."
    ></app-card4>
  </div>
</div>
