<div class="card-body d-flex flex-column p-0">
  <div class="d-flex flex-stack flex-grow-1 card-p">
    <div class="d-flex flex-column me-2">
      <a class="text-dark text-hover-primary fw-bolder fs-3" href="#">
        {{ title }}
      </a>

      <span class="text-muted fw-bold mt-1">
        <ng-content select="description"></ng-content>
      </span>
    </div>

    <span class="symbol symbol-50px">
      <span
        [ngClass]="'bg-light-' + color"
        [ngClass]="'text-' + color"
        class="symbol-label fs-5 fw-bolder"
      >
        {{ change }}
      </span>
    </span>
  </div>

  <div
    #chartRef
    [style.height]="'150px'"
    class="statistics-widget-3-chart card-rounded-bottom"
  >
    <apx-chart
      [chart]="chartOptions.chart"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [fill]="chartOptions.fill"
      [legend]="chartOptions.legend"
      [markers]="chartOptions.markers"
      [plotOptions]="chartOptions.plotOptions"
      [series]="chartOptions.series"
      [states]="chartOptions.states"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      type="area"
    ></apx-chart>
  </div>
</div>
