<!--begin::Form-->
<form (ngSubmit)="submit()" [formGroup]="loginForm" class="form w-100" id="kt_login_signin_form"
      novalidate="novalidate">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <h1 class="text-dark fw-bolder mb-3">
      Iniciar sesión
    </h1>
    <!--begin::Subtitle-->
    <div class="text-gray-500 fw-semibold fs-6">
      Conéctate con redes sociales
    </div>
    <!--end::Subtitle--->
    <!-- <div class="text-gray-400 fw-bold fs-4">
      New Here?
      <a
        routerLink="/auth/registration"
        id="kt_login_signup"
        class="link-primary fw-bolder"
        >{{ "AUTH.GENERAL.SIGNUP_BUTTON" | translate }}</a
      >
    </div> -->
  </div>
  <!--end::Heading-->

  <!--begin::Login options-->
  <div class="row g-3 mb-9">
    <!--begin::Col-->
    <div class="col-md-6">
      <!--begin::Google link--->
      <a
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100"
        href="#">
        <img alt="Logo" class="h-15px me-3" src="./assets/media/svg/brand-logos/google-icon.svg"/>
        Iniciar sesión con Google
      </a>
      <!--end::Google link--->
    </div>
    <!--end::Col-->

    <!--begin::Col-->
    <div class="col-md-6">
      <!--begin::Google link--->
      <a
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100"
        href="#">
        <img alt="Logo" class="theme-light-show h-15px me-3" src="./assets/media/svg/brand-logos/apple-black.svg"/>
        <img alt="Logo" class="theme-dark-show h-15px me-3" src="./assets/media/svg/brand-logos/apple-black-dark.svg"/>
        Iniciar sesión con Apple
      </a>
      <!--end::Google link--->
    </div>
    <!--end::Col-->
  </div>
  <!--end::Login options-->

  <!--begin::Separator-->
  <div class="separator separator-content my-14">
    <span class="w-125px text-gray-500 fw-semibold fs-7">O con correo electrónico</span>
  </div>
  <!--end::Separator-->

  <!-- begin::Alert info-->
  <ng-container *ngIf="!hasError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <div class="text-info">
        Use account <strong>{{ defaultAuth.email }}</strong> and password
        <strong>{{ defaultAuth.password }}</strong> to continue.
      </div>
    </div>
  </ng-container>
  <!-- end::Alert info-->


  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Los datos de inicio de sesión son incorrectos
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fs-6 fw-bolder text-dark">Correo electrónico</label>
    <input [ngClass]="{
        'is-invalid': loginForm.controls['email'].invalid,
        'is-valid': loginForm.controls['email'].valid
      }" autocomplete="off" class="form-control bg-transparent" formControlName="email" name="email"
           type="email"/>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Email is required',
        control: loginForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Email is invalid',
        control: loginForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'Email should have at least 3 symbols',
        control: loginForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Email should have maximum 360 symbols',
        control: loginForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-3">

    <label class="form-label fw-bolder text-dark fs-6 mb-0">Contraseña</label>

    <input [ngClass]="{
        'is-invalid': loginForm.controls['password'].invalid,
        'is-valid': loginForm.controls['password'].valid
      }" autocomplete="off" class="form-control bg-transparent" formControlName="password"
           name="password" type="password"/>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Password is required',
        control: loginForm.controls['password']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Password should have at least 3 symbols',
        control: loginForm.controls['password']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Password should have maximum 100 symbols',
        control: loginForm.controls['password']
      }" [ngTemplateOutlet]="formError"></ng-container>

  </div>
  <!--end::Form group-->

  <!--begin::Wrapper-->
  <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
    <div></div>

    <!--begin::Link-->
    <a class="link-primary" routerLink="/auth/forgot-password">
      ¿Olvidaste tu contraseña?
    </a>
    <!--end::Link-->
  </div>
  <!--end::Wrapper-->

  <!--begin::Action-->
  <div class="d-grid mb-10">
    <button [disabled]="loginForm.invalid" class="btn btn-primary" id="kt_sign_in_submit" type="submit">
      <ng-container *ngIf="isLoading$ | async">
        <span [style.display]="'block'" class="indicator-progress">
          Por favor, espera...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Continuar</span>
      </ng-container>
    </button>
  </div>

  <div class="text-gray-500 text-center fw-semibold fs-6">
    ¿Aún no eres miembro?

    <a class="link-primary" routerLink="/auth/registration">
      Registrarse
    </a>
  </div>

  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
