<p>Paginated works!</p>

<!--<div *ngIf="isSpinnerOverlayVisible" class="spinner-wrapper">-->
<!--  <div class="spinner">-->
<!--    <div class="double-bounce1"></div>-->
<!--    <div class="double-bounce2"></div>-->
<!--  </div>-->
<!--</div>-->

<!--<div *ngIf="isSpinnerVisible" class="preloader">-->
<!--  <div class="spinner">-->
<!--    <div class="double-bounce1"></div>-->
<!--    <div class="double-bounce2"></div>-->
<!--  </div>-->
<!--</div>-->

<!--<div #sticky_container *ngIf="!isSpinnerVisible" class="sticky-outer-wrapper" id="sticky_container" style="width: 100%">-->
<!--  <div #sticky_inner_wrapper class="sticky-inner-wrapper" id="sticky_inner_wrapper">-->
<!--    <div class="sc-list-navbar sc-list-navbar&#45;&#45;with-header">-->
<!--      <div class="sc-list-navbar__container">-->
<!--        &lt;!&ndash; column &ndash;&gt;-->
<!--        <div class="sc-list-navbar-left">-->
<!--          <mat-form-field appearance="standard" style="margin-left: 15px; width: 350px">-->
<!--            <button (click)="search(query, true)" color="primary" mat-icon-button matPrefix>-->
<!--              <mat-icon aria-label="Search" class="inputMatButton">search</mat-icon>-->
<!--            </button>-->
<!--            <input (keyup.enter)="search(query, true)" [(ngModel)]="query" matInput placeholder="Buscar" type="text">-->
<!--            <button (click)="clearQuery()" *ngIf="query" aria-label="Clear" mat-button mat-icon-button matSuffix>-->
<!--              <mat-icon class="inputMatButton">close</mat-icon>-->
<!--            </button>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="sc-list-navbar-right">-->
<!--          <div>-->
<!--            <button #syncAllButton (click)="updateAllItems()"-->
<!--                    class="andes-button andes-button&#45;&#45;large andes-button&#45;&#45;transparent"-->
<!--                    data-testid="add-products" style="margin-right: 15px !important;" type="button">-->
<!--        <span class="andes-button__content">-->
<!--          <span-->
<!--            [ngClass]="{'disable': syncAllButton.disabled}"-->
<!--            class="expand-all&#45;&#45;button-icon">-->
<!--            <svg aria-hidden="true" class="svg-inline&#45;&#45;fa fa-sync-alt fa-w-16 fa-3x" data-icon="sync-alt"-->
<!--                 data-prefix="fas" focusable="false"-->
<!--                 role="img" viewBox="0 0 512 512"-->
<!--                 xmlns="http://www.w3.org/2000/svg">-->
<!--              <path class=""-->
<!--                    d="M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z"-->
<!--                    fill="currentColor"></path></svg>-->
<!--          </span>-->
<!--          Sincronizar items-->
<!--        </span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="sc-list-navbar__secondary-container">-->
<!--        <div class="sc-ui-grid-header sc-ui-grid-header&#45;&#45;default-header inventory">-->
<!--          &lt;!&ndash;          Arrow&ndash;&gt;-->
<!--          <div class="sc-list-item-row__chevron-container" style="height: 0;"></div>-->
<!--          &lt;!&ndash;          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;0"></div>&ndash;&gt;-->
<!--          &lt;!&ndash;          Image&ndash;&gt;-->
<!--          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;1"></div>-->
<!--          &lt;!&ndash;          Tittle&ndash;&gt;-->
<!--          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;2"></div>-->
<!--          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;3">-->
<!--            <span class="sc-ui-grid-header-column__title">Stock</span>-->
<!--          </div>-->
<!--          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;4">-->
<!--            &lt;!&ndash;            <span class="sc-ui-grid-header-column__title">Stock de Almacén</span>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;5">-->
<!--            <span class="sc-ui-grid-header-column__title">Precio</span>-->
<!--          </div>-->
<!--          <div *ngIf="show_profit" class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;6">-->
<!--            <span class="sc-ui-grid-header-column__title">Costo</span>-->
<!--          </div>-->
<!--          <div *ngIf="show_profit" class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;7">-->
<!--            <span class="sc-ui-grid-header-column__title">Ganancia</span>-->
<!--          </div>-->
<!--          <div *ngIf="show_profit" class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;8">-->
<!--            <span class="sc-ui-grid-header-column__title">Envio / Precio en destino / Comisión</span>-->
<!--          </div>-->
<!--          &lt;!&ndash;          <div *ngIf="show_profit" class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;9">&ndash;&gt;-->
<!--          &lt;!&ndash;            <span class="sc-ui-grid-header-column__title">Pricing</span>&ndash;&gt;-->
<!--          &lt;!&ndash;          </div>&ndash;&gt;-->
<!--          <div class="sc-list-trigger-content" style="height: 0;"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div *ngFor="let dataSource of dataSources; let dataSourceIndex = index" class="sc-list-navbar__secondary-container"-->
<!--     style="width: 100%">-->
<!--  <div *ngIf="dataSource?._data[0]?.product?.has_tecneu_item_relationships === 'partial'"-->
<!--       class="sc-ui-badge relationships partial-relationships"><span-->
<!--    class="sc-ui-badge-text">Faltan relaciones</span>-->
<!--  </div>-->
<!--  <div *ngIf="dataSource?._data[0]?.product?.has_tecneu_item_relationships === false"-->
<!--       class="sc-ui-badge relationships no-relationships"><span class="sc-ui-badge-text">No tiene relaciones</span>-->
<!--  </div>-->
<!--  <div [ngClass]="'other_listing_type'"-->
<!--       class="sc-ui-badge listing_type">-->
<!--      <span class="sc-ui-badge-text">-->
<!--        Comisión: {{dataSource?._data[0]?.costs_and_profits?.percentage_of_fee_amount}}-->
<!--      </span>-->
<!--  </div>-->
<!--  <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">-->
<!--    <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild"-->
<!--                   [style.display]="shouldRender(dataSourceIndex, node) ? 'flex' : 'none'"-->
<!--                   cdkTreeNodePadding-->
<!--                   class="example-tree-node">-->
<!--      <div class="sc-list-navbar below">-->

<!--        <div class="sc-ui-grid-header sc-ui-grid-header&#45;&#45;default-header rows inventory">-->
<!--          <div class="sc-list-item-row__chevron-container">-->
<!--            <div class="sc-list-item-row__chevron sc-ui-chevron&#45;&#45;down" role="button" tabindex="0">-->
<!--              <button (click)="node.isExpanded = !node.isExpanded" [attr.aria-label]="'toggle ' + node.filename"-->
<!--                      [style.visibility]="'hidden'"-->
<!--                      cdkTreeNodeToggle-->
<!--                      mat-icon-button>-->
<!--                <mat-icon class="mat-icon-rtl-mirror">-->
<!--                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}-->
<!--                </mat-icon>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;1">-->
<!--            <div class="sc-list-item-row-picture">-->
<!--              <img [src]=getThumbMainImage(node.product?.images[0]?.images) alt=""-->
<!--                   class="sc-list-item-row-picture__single-item">-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;2">-->
<!--            <div class="ml-2">-->
<!--              <span class="product-sku">-->
<!--                #{{node.product?._id}}{{node.product?.seller_sku ? ' | SKU: ' + node.product?.seller_sku : undefined}}-->
<!--                <br></span>-->
<!--              <a [routerLink]="['modificar/', node.product?._id]"-->
<!--                 class="product-title-column">{{node.product?.summaries[0]?.itemName}}</a>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;3">-->
<!--            <span>{{node.costs_and_profits?.available_quantity + ' u.'}}</span>-->
<!--          </div>-->

<!--          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;4">-->
<!--            &lt;!&ndash;            <span class="price-formatted">{{node.costs_and_profits?.retail?.format_price}}</span>&ndash;&gt;-->
<!--            &lt;!&ndash;            <div *ngIf="show_profit" class="profit_percent"&ndash;&gt;-->
<!--            &lt;!&ndash;                 [ngStyle]="{'background-color': node.costs_and_profits?.retail?.color_of_profit}">&ndash;&gt;-->
<!--            &lt;!&ndash;              <span class="profit_percent_text">{{node.costs_and_profits?.retail?.profit_percent}}</span>&ndash;&gt;-->
<!--            &lt;!&ndash;              <span class="profit_text">{{node.costs_and_profits?.retail?.profit}}</span>&ndash;&gt;-->
<!--            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;5">-->
<!--            <span class="price-formatted">{{node.costs_and_profits?.price}}</span>-->
<!--          </div>-->

<!--          <div *ngIf="show_profit" class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;6">-->
<!--            <p>-->
<!--              <span>{{node.costs_and_profits?.product_cost}}</span><br>-->
<!--            </p>-->
<!--          </div>-->

<!--          <div *ngIf="show_profit" class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;7">-->
<!--            <div [ngStyle]="{'background-color': node.costs_and_profits?.color_of_profit}" class="profit_percent">-->
<!--              <span class="profit_percent_text">{{node.costs_and_profits?.profit_percent}}</span>-->
<!--              <span class="profit_text">{{node.costs_and_profits?.profit}}</span>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div *ngIf="show_profit" class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;8">-->
<!--            <p>-->
<!--              <span>{{node.costs_and_profits?.shipping}}</span><br>-->
<!--              <span>{{node.costs_and_profits?.landed_price}}</span><br>-->
<!--              <span>{{node.costs_and_profits?.sale_fee_amount}}</span>-->
<!--            </p>-->
<!--          </div>-->
<!--          &lt;!&ndash;          <div *ngIf="show_profit" class="sc-ui-grid-header-column sc-ui-grid-header-column&#45;&#45;9">&ndash;&gt;-->
<!--          &lt;!&ndash;          </div>&ndash;&gt;-->
<!--          <div class="sc-list-trigger-content">-->
<!--            <div class="sc-ui-trigger-content">-->
<!--              <button [matMenuTriggerFor]="menu" mat-icon-button>-->
<!--                <mat-icon>more_vert</mat-icon>-->
<!--              </button>-->
<!--              <mat-menu #menu="matMenu">-->
<!--                <button (click)="modifyItem(node)" mat-menu-item>-->
<!--                  <mat-icon>edit</mat-icon>-->
<!--                  <span>Modificar producto</span>-->
<!--                </button>-->
<!--                &lt;!&ndash;                <button mat-menu-item (click)="deleteItem(node)">&ndash;&gt;-->
<!--                &lt;!&ndash;                  <mat-icon>delete</mat-icon>&ndash;&gt;-->
<!--                &lt;!&ndash;                  <span>Eliminar item</span>&ndash;&gt;-->
<!--                &lt;!&ndash;                </button>&ndash;&gt;-->
<!--              </mat-menu>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </cdk-tree-node>-->
<!--  </cdk-tree>-->
<!--</div>-->
<!--<div style="display: flex; flex-direction: row; flex-wrap: wrap ; align-items: center; justify-content: center;">-->
<!--  <mat-paginator (page)="pageChangeEvent($event)" [hidePageSize]='true' [length]="total" [list_type]="'productos'"-->
<!--                 [pageSize]="limit" appStylePaginator id="paginator_sales">-->
<!--  </mat-paginator>-->
<!--</div>-->

<!--<app-custom-paginator-->
<!--  (pageChange)="onPageChange($event)"-->
<!--  [length]="4200"-->
<!--  [pageSizeOptions]="[20, 50, 100]"-->
<!--  [pageSize]="50"-->
<!--&gt;</app-custom-paginator>-->
