<!--<div *ngIf="isSpinnerOverlayVisible" class="spinner-wrapper">-->
<!--  <div class="spinner">-->
<!--    <div class="double-bounce1"></div>-->
<!--    <div class="double-bounce2"></div>-->
<!--  </div>-->
<!--</div>-->

<!--<div *ngIf="isSpinnerVisible" class="preloader">-->
<!--  <div class="spinner">-->
<!--    <div class="double-bounce1"></div>-->
<!--    <div class="double-bounce2"></div>-->
<!--  </div>-->
<!--</div>-->

<app-items-table class="card mb-5 mb-xl-8" [products]="products"></app-items-table>

<app-custom-paginator
  (pageChange)="onPageChange($event)"
  [length]="total"
  [pageSizeOptions]="[20, 50, 100]"
  [pageSize]="limit"
></app-custom-paginator>
