<form (ngSubmit)="submit()" [formGroup]="registrationForm" class="form w-100" id="kt_login_signup_form"
      novalidate="novalidate">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <!--begin::Title-->
    <h1 class="text-dark fw-bolder mb-3">
      Registrarse
    </h1>
    <!--end::Title-->

    <!--begin::Subtitle-->
    <div class="text-gray-500 fw-semibold fs-6">
      Conéctate con redes sociales
    </div>
    <!--end::Subtitle--->
  </div>
  <!--begin::Heading-->

  <!--begin::Login options-->
  <div class="row g-3 mb-9">
    <!--begin::Col-->
    <div class="col-md-6">
      <!--begin::Google link--->
      <a
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100"
        href="#">
        <img alt="Logo" class="h-15px me-3" src="./assets/media/svg/brand-logos/google-icon.svg"/>
        Iniciar sesión con Google
      </a>
      <!--end::Google link--->
    </div>
    <!--end::Col-->

    <!--begin::Col-->
    <div class="col-md-6">
      <!--begin::Google link--->
      <a
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100"
        href="#">
        <img alt="Logo" class="theme-light-show h-15px me-3" src="./assets/media/svg/brand-logos/apple-black.svg"/>
        <img alt="Logo" class="theme-dark-show h-15px me-3" src="./assets/media/svg/brand-logos/apple-black-dark.svg"/>
        Iniciar sesión con Apple
      </a>
      <!--end::Google link--->
    </div>
    <!--end::Col-->
  </div>
  <!--end::Login options-->

  <!--begin::Separator-->
  <div class="separator separator-content my-14"><span class="w-125px text-gray-500 fw-semibold fs-7">Or with
      email</span></div>
  <!--end::Separator-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        The registration details are incorrect
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6">Fullname</label>
    <input [ngClass]="{
        'is-invalid': registrationForm.controls['fullname'].invalid,
        'is-valid': registrationForm.controls['fullname'].valid
      }" autocomplete="off" class="form-control bg-transparent" formControlName="fullname"
           name="fullname" placeholder="Fullname" type="text"/>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Fullname is required',
        control: registrationForm.controls['fullname']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Fullname should have at least 3 symbols',
        control: registrationForm.controls['fullname']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Fullname should have maximum 100 symbols',
        control: registrationForm.controls['fullname']
      }" [ngTemplateOutlet]="formError"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6">Correo electrónico</label>
    <input [ngClass]="{
        'is-invalid': registrationForm.controls['email'].invalid,
        'is-valid': registrationForm.controls['email'].valid
      }" autocomplete="off" class="form-control bg-transparent" formControlName="email"
           name="email"
           placeholder="Correo electrónico" type="email"/>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Email is required',
        control: registrationForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'Email is invalid',
        control: registrationForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Email should have at least 3 symbols',
        control: registrationForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Email should have maximum 360 symbols',
        control: registrationForm.controls['email']
      }" [ngTemplateOutlet]="formError"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6">Contraseña</label>
    <input [ngClass]="{
        'is-invalid': registrationForm.controls['password'].invalid,
        'is-valid': registrationForm.controls['password'].valid
      }" autocomplete="off" class="form-control bg-transparent" formControlName="password"
           name="password" placeholder="Contraseña" type="password"/>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Password is required',
        control: registrationForm.controls['password']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Password should have at least 3 symbols',
        control: registrationForm.controls['password']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Password should have maximum 100 symbols',
        control: registrationForm.controls['password']
      }" [ngTemplateOutlet]="formError"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-dark fs-6">Confirmar contraseña</label>
    <input [ngClass]="{
        'is-invalid': registrationForm.controls['cPassword'].invalid,
        'is-valid': registrationForm.controls['cPassword'].valid
      }" autocomplete="off" class="form-control bg-transparent" formControlName="cPassword"
           name="cPassword" placeholder="Confirm password" type="password"/>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Confirmar contraseña is required',
        control: registrationForm.controls['cPassword']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Confirmar contraseña should have at least 3 symbols',
        control: registrationForm.controls['cPassword']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Confirmar contraseña should have maximum 100 symbols',
        control: registrationForm.controls['cPassword']
      }" [ngTemplateOutlet]="formError"></ng-container>
    <ng-container *ngIf="
        registrationForm.controls['cPassword'].errors &&
        registrationForm.controls['cPassword'].errors.ConfirmPassword
      ">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          La contraseña y la confirmación de contraseña no coinciden.
        </div>
      </div>
    </ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-check form-check-inline">
      <input class="form-check-input" formControlName="agree" id="kt_login_toc_agree" name="agree" type="checkbox"/>
      <span class="form-check-label fw-semibold text-gray-700 fs-base ms-1" for="kt_login_toc_agree">
        I Accept the&nbsp;<a class="ms-1 link-primary" href="https://keenthemes.com/metronic/?page=faq"
                             target="_blank">Terms</a>.
      </span>
    </label>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="d-grid mb-10">
    <button [disabled]="
        registrationForm.invalid || !registrationForm.controls['agree'].value
      " class="btn btn-primary" id="kt_sign_up_submit" type="submit">
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Submit</span>
      </ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span [style.display]="'block'" class="indicator-progress">
          Por favor, espera...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
  </div>
  <!--end::Form group-->

  <!--begin::Sign up-->
  <div class="text-gray-500 text-center fw-semibold fs-6">
    Already have an Account?

    <a class="link-primary fw-semibold" routerLink="/auth/login">
      Sign in
    </a>
  </div>
  <!--end::Sign up-->

</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </div>
  </ng-container>
</ng-template>
