<div class="card">
  <div class="card-body">
    <div
      class="stepper stepper-links d-flex flex-column pt-15"
      id="kt_create_account_stepper"
    >
      <div class="stepper-nav mb-5">
        <div
          [ngClass]="{
            current: currentStep$.value === 1,
            completed: currentStep$.value > 1
          }"
          class="stepper-item"
        >
          <h3 class="stepper-title">Account Type</h3>
        </div>

        <div
          [ngClass]="{
            current: currentStep$.value === 2,
            completed: currentStep$.value > 2
          }"
          class="stepper-item"
        >
          <h3 class="stepper-title">Account Info</h3>
        </div>

        <div
          [ngClass]="{
            current: currentStep$.value === 3,
            completed: currentStep$.value > 3
          }"
          class="stepper-item"
        >
          <h3 class="stepper-title">Business Info</h3>
        </div>

        <div
          [ngClass]="{
            current: currentStep$.value === 4,
            completed: currentStep$.value > 4
          }"
          class="stepper-item"
        >
          <h3 class="stepper-title">Billing Details</h3>
        </div>

        <div
          [ngClass]="{ current: currentStep$.value === 5 }"
          class="stepper-item"
        >
          <h3 class="stepper-title">Completed</h3>
        </div>
      </div>

      <form
        class="mx-auto mw-600px w-100 pt-15 pb-10"
        id="kt_create_account_form"
        noValidate
      >
        <div class="current">
          <ng-container *ngIf="currentStep$.value === 1">
            <app-step1
              [defaultValues]="account$.value"
              [updateParentModel]="updateAccount"
              class="w-100"
            ></app-step1>
          </ng-container>

          <ng-container *ngIf="currentStep$.value === 2">
            <app-step2
              [defaultValues]="account$.value"
              [updateParentModel]="updateAccount"
              class="w-100"
            ></app-step2>
          </ng-container>

          <ng-container *ngIf="currentStep$.value === 3">
            <app-step3
              [defaultValues]="account$.value"
              [updateParentModel]="updateAccount"
              class="w-100"
            ></app-step3>
          </ng-container>

          <ng-container *ngIf="currentStep$.value === 4">
            <app-step4
              [defaultValues]="account$.value"
              [updateParentModel]="updateAccount"
              class="w-100"
            ></app-step4>
          </ng-container>

          <ng-container *ngIf="currentStep$.value === 5">
            <app-step5 class="w-100"></app-step5>
          </ng-container>
        </div>

        <div class="d-flex flex-stack pt-15">
          <div class="mr-2">
            <ng-container *ngIf="currentStep$.value !== 1">
              <button
                (click)="prevStep()"
                class="btn btn-lg btn-light-primary me-3"
                type="button"
              >
                <app-keenicon class="fs-3 ms-4 me-1" name="arrow-left"></app-keenicon>
                Back
              </button>
            </ng-container>
          </div>

          <ng-container *ngIf="currentStep$.value !== formsCount">
            <div>
              <button
                (click)="nextStep()"
                [disabled]="!isCurrentFormValid$.value"
                class="btn btn-lg btn-primary me-3"
                type="button"
              >
                <span class="indicator-label">
                  <ng-container *ngIf="currentStep$.value < formsCount - 1">
                    Continuar {{ " " }}
                    <app-keenicon class="fs-3 ms-2 me-0" name="arrow-right"></app-keenicon>
                  </ng-container>
                  <ng-container *ngIf="currentStep$.value === formsCount - 1">
                    Submit
                  </ng-container>
                </span>
              </button>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>
