<div
  class="
    card-body
    p-0
    d-flex
    justify-content-between
    flex-column
    overflow-hidden
  "
>
  <div class="d-flex flex-stack flex-wrap flex-grow-1 px-9 pt-9 pb-3">
    <div class="me-2">
      <span class="fw-bolder text-gray-800 d-block fs-3">Sales</span>

      <span class="text-gray-400 fw-bold">Oct 8 - Oct 26 2021</span>
    </div>

    <div [ngClass]="'fs-3 text-' + chartColor" class="fw-bolder fs-3">
      $15,300
    </div>
  </div>

  <div #chartRef [style.height]="chartHeight" class="mixed-widget-10-chart">
    <apx-chart
      [chart]="chartOptions.chart"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [fill]="chartOptions.fill"
      [legend]="chartOptions.legend"
      [markers]="chartOptions.markers"
      [plotOptions]="chartOptions.plotOptions"
      [series]="chartOptions.series"
      [states]="chartOptions.states"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
    ></apx-chart>
  </div>
</div>
