<!--begin::Logo image-->
<a routerLink="/dashboard">
  <ng-container *ngIf="currentLayoutType === 'dark-sidebar'">
    <img alt="Logo" class="h-25px app-sidebar-logo-default" src="./assets/media/logos/default-dark.svg"/>
  </ng-container>
  <ng-container *ngIf="currentLayoutType !== 'dark-sidebar'">
    <img alt="Logo" class="h-25px app-sidebar-logo-default theme-light-show" src="./assets/media/logos/default.svg"/>
    <img alt="Logo" class="h-25px app-sidebar-logo-default theme-dark-show"
         src="./assets/media/logos/default-dark.svg"/>
  </ng-container>

  <img alt="Logo" class="h-20px app-sidebar-logo-minimize" src="./assets/media/logos/default-small.svg"/>
</a>
<!--end::Logo image-->


<ng-container *ngIf="toggleEnabled">
  <!--begin::Sidebar toggle-->
  <div [attr.data-kt-toggle-name]="toggleAttr"
       [attr.data-kt-toggle-state]="toggleState"
       [ngClass]="toggleButtonClass"
       class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary body-bg h-30px w-30px position-absolute top-50 start-100 translate-middle rotate"
       data-kt-toggle="true"
       data-kt-toggle-target="body" id="kt_app_sidebar_toggle">
    <app-keenicon class="fs-2 rotate-180" name="double-left"></app-keenicon>
  </div>
  <!--end::Sidebar toggle-->
</ng-container>
